



@media screen and(min-width: 768px) {
    
}
@media (max-width: 768px) {


   


    .inicio h1 {
        font-size: 36px;
    }

    .inicio p {
        font-size: 18px;
    }
}

@media (max-width: 870px){

    .caixinha{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .content {
        justify-content: space-between;
        padding: 0px 40px;
    }

 

    .container-inicio h1{
        color: #000000;
        font-size: 3.1rem;
        margin-bottom: 1rem;
    }
    


    

}







@media (max-width: 768px) {
    .testimonial-box {
        padding: 20px;
        margin: 10px;
    }

    .nav-btn {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    .testimonial-text {
        font-size: 16px;
    }

  
}
  


@media screen and (max-width:1024px) {
  
    .content .list-menu{
        display: none;
    }

    

    

  .logo{
        width: 100%;
     
       
    }   

   

}


